
.container{
    min-height: 100vh;
    /* background-color: rgb(65, 65, 243); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: rubik;
}

.question-footer {
  display: flex;
  justify-content: space-between;
}

.quiz-card-answer{
  text-align: center;
  justify-content: center;
}

.quiz-card-answer:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
  
}

.mb-2{
  height: 50px;

}

.bg-success{
  background-color: green;
  color: white;
}

.bg-danger{
  background-color: red;
  color: white;
}

.navbar-light {
  background-color: blue;
  height: 412px;
}

.bg-light {
  background-color: blue !important;
}

body {
  margin: 0px;
  background-color: antiquewhite;
}

.container-fluid {
  color: lightgray;
}

.logo-img img{
  margin-bottom: 20px ;
  height: 60px;
  padding-left: 10px;
  
}

.card {
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-container {
  border: none;
  min-height: 412px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.winning-headline{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 24px;
  
}

.padding-bottom-24px {
  padding-bottom: 24px;
}

.startscreen {
  background-image: url("./img/brainbg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  height: 406px;
  background-color: white;
  width: 350px;
  background-size: 400px;
  background-position: center;
}

.text-align-center {
  text-align: center;
}

.progress {
  margin-bottom: 8px;
}





